@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 206 41% 97%;
    --foreground: 214 21% 15%;

    --card: 0 0% 100%;
    --card-foreground: 216 5% 15%;

    --sidebar: 0 0% 100%;
    --sidebar-foreground: 223 9% 40%;

    --popover: 216 5% 98%;
    --popover-foreground: 216 95% 10%;

    --primary: 216 99.2% 52.4%;
    --primary-foreground: 0 0% 100%;

    --secondary: 216 10% 90%;
    --secondary-foreground: 0 0% 0%;

    --muted: 199 93% 95%;
    --muted-foreground: 200 85% 69%;

    --accent: 178 10% 90%;
    --accent-foreground: 216 5% 15%;

    --destructive: 0 50% 50%;
    --destructive-foreground: 216 5% 98%;

    --border: 216 20% 82%;
    --input: 216 20% 50%;
    --ring: 216 99.2% 52.4%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 212 29% 10%;
    --foreground: 220 3% 82%;

    --card: 213 25% 14%;
    --card-foreground: 216 5% 100%;

    --sidebar: 215 25% 15%;
    --sidebar-foreground: 0 0% 100%;

    --popover: 216 20% 5%;
    --popover-foreground: 216 5% 100%;

    --primary: 216 99.2% 52.4%;
    --primary-foreground: 0 0% 100%;

    --secondary: 216 20% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 205 46% 18%;
    --muted-foreground: 200 59% 47%;

    --accent: 178 10% 90%;
    --accent-foreground: 216 5% 15%;

    --destructive: 0 50% 50%;
    --destructive-foreground: 216 5% 100%;

    --border: 216 20% 50%;
    --input: 216 20% 50%;
    --ring: 216 99.2% 52.4%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
